<div class="modal-header bg-primary">
    <h4 class="modal-title text-white">Statistics </h4>
    <button type="button" class="close text-white" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="d-flex justify-content-around panel">
        <div class="text-center">
            <h3>{{ playCount }}</h3>
            <p class="fs-3">Play Count</p>
        </div>
        <div class="text-center">
            <h3>{{ winCount }}</h3>
            <p class="fs-3">Win Count</p></div>
        <div class="text-center">
            <h3>{{ currentStreak }}</h3>
            <p class="fs-3">Current Streak</p>
        </div>
        <div class="text-center">
            <h3>{{ bestStreak }}</h3>
            <p class="fs-3">Best Streak</p>
        </div>
    </div> 
    <div *ngIf="playCount > 0">
        <canvas baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [type]="barChartType">
        </canvas>
    </div>
    <hr />
    <div *ngIf="playCount === 0">
        <p class="text-center">
        No Statistics available
        </p>
    </div>
    <div class="d-flex justify-content-around panel">
        <div class="text-center">
            <h4>Next Word in</h4>
            <h5><countdown #cd [config]="countDownCfg" (event)="handleCountDownEvent($event)"></countdown></h5>
        </div>
    </div>
</div>
